body{

    font-family:  sans-serif;
    text-align: center;
    margin: 50px;
}

button{
    padding: 10px 20px;
    background: #4caf50;
    color: black;
    border:none;
    cursor: pointer;
    border-radius: 5px;
}