body{
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
}

button{
    padding: 10px 20px;
    background: #3498d8;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#mensagem{
    padding: 20px;
    background: #f0f0f0;
    border: 1px solid #ccc;
    margin-top: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.oculto{
    display: none;
    
}